.main-header {
  text-align: center;
  color: rgb(255,140,0);
  text-decoration: underline;
}

body {
  font-family: poppins;
  font-weight: bold;
}


table {
  border: 5px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 5px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
